
:root {
     /* Onedark Color Palette */
  --background: #282C34;
  --foreground: #ABB2BF;
  --comment: #5C6370;
  --red: #E06C75;
  --orange: #D19A66;
  --yellow: #E5C07B;
  --green: #98C379;
  --cyan: #56B6C2;
  --blue: #61AFEF;
  --purple: #C678DD;
  --cursor: #528BFF;
}
body {
    margin: 0;
    padding: 0;
    font-size: 1.5em;
}
*,*::after,*::before {
    box-sizing: border-box;
}
.container {
    background-color: var(--background);
    padding: 1rem;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 1vw;

}
.title-main {
    color: var(--red);
    font-size: 2.5rem;
}
.container > div {
    color: var(--yellow);
}
.new-button {
    cursor: pointer;
    padding: 0;
    border: 1px solid var(--cursor);
    outline: none;
    background: none;
    height: 4vh;
    width: 4vh;
    border-radius: 50%;
    text-align: center;
    color: var(--cursor);
    font-size: 2.5rem;
}
.projects {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5% 5% 91%;
    row-gap: 1vh;
    border: 3px solid var(--comment);
    padding: 2vh;
    border-radius: 2vh;
    justify-items: center;
    align-items: center;
}
.project-container {
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-columns: auto;
    gap: 1vh;
    align-self: start;
}

.project-container > button{
    background-color: var(--comment); 
    border: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--yellow);
    border-radius: 2vh;
    align-self: center;
    font-size: 1.5rem;
    padding: 0.5vh;
}
.Tasks {
    display: grid;
   grid-template-rows: 5% 5% 91%;
    grid-template-columns: 10% 90%;
    row-gap: 1vh;
    column-gap: 1vw;
    border: 3px solid var(--comment);
    padding: 2vh;
    border-radius: 2vh;
}
.Tasks > .todo-form,
.Tasks > .title-main {
    grid-column: 1;
    align-self: center;
    justify-self: center;
}
.Tasks > .current-project {
    grid-column: 2;
    align-self: center;
    font-size: 2rem;
    color: var(--green);
}
.Tasks > .delete-project {
    background: none;
    border-radius: 4vh;
    font-size: 1rem;
    border: 2px solid var(--red);
    color: var(--red);
    width: 5vw;
    height: 100%;
}
.todo-container {
    grid-row: 3;
    grid-column: 1 / -1;
}

 /* Modal Section 
 modal1 = New Project
 modal2 = New Todo
 */
 .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: var(--comment);
    width: 800px;
    height: 35vh;
    max-width: 80%;
    max-height: 80%;
    color: var(--orange);
    border: 0.5vh solid var(--background);
 }
 .modal.active {
    transform: translate(-50%,-50%) scale(1);
 }
 
.modal-header {
    color: var(--red);
    font-size: 2.25rem;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    border-bottom: 5px solid var(--background);
}
.close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 2.25rem;
    font-weight: bold;
    color: var(--background);
}
.modal >div > form > div {
    display: grid;
    grid-template-columns: 20% 80%;
}
.modal > div > form {
    padding-top: 1rem;
    display: grid;
    grid-template-rows: auto;
    row-gap: 1vh;
}
.modal > div > form >div > * {
    width: 85%;
    justify-self: center;
}

 
 #overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0,0.5);
    pointer-events: none;
    transition: 200ms ease-in-out;
    width: 100vw;
    height: 100vw;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

/* Styling for Todos */
.todo-container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    align-items: center;
    justify-items: center;
    column-gap: 1vw;
}
.todo-item {
    background-color: var(--comment);
    padding: 1vh;
    border-radius: 2vh;
    border: 3px solid var(--blue);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    row-gap: 0.5vh;
}
.todo-item {
    display: grid;
    grid-template-rows: repeat(4,1fr) 2fr 1fr;
    width: 70%;
    width: 90%;
}
.todo-item > .title {
    font-size: 125%;
    color: var(--red);
    border-bottom: 3px solid var(--background);
}
.todo-item > .rem-button-container {
    border-top: 3px solid var(--background);
    padding-top: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo-item >div > button {
    cursor: pointer;
    background-color: var(--background);
    color: var(--red);
    border: none;
    border-radius: 2vh;
    height: 2.5vh;
    width: 5vw;
}
.todo-item > div > button:hover {
    border: 2px solid var(--red);

}
.todo-item > .notes {
    background: var(--foreground);
    color: var(--background);
    font-size: 81%;
    border-radius: 2vh;
    padding: 1vh;
    word-break: break-all;
}
 /* Styling for active Project */
 .project-container > button {
    position: relative;
 }

 .project-container > button.active::after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0,0.4);
    z-index: 5;
    border-radius: 2vh;
 }

